<h1><%= @user.name %>Favories list</h1>
<div class="user_icon">
  <%= image_tag "#{@user.image}" %>
</div>
<table>
  <tbody>
  <% @favorites.each do |post| %>
    <tr>
      <td><%= post.user.name %></td>
      <td><%= image_tag "#{post.image}" %></td>
      <td><%= post.post %></td>
      <td><%= link_to 'Show', post %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Show', posts_path %>
