<div class="user_show">
  <div class="user_show_home">
    <div class="user_icon">
      <%= image_tag(@user.icon.url) if @user.icon && @user.icon.url %>
    </div>
    <div class="user_show_details">
      <p>name: <%= @user.name %></p>
      <p>email: <%= @user.email %></p>
      <% if @user.id == current_user.id %>
        <%= link_to 'Edit', edit_user_path(@user.id) %>
        <%= link_to 'Destroy', user_path(@user.id), data: {confirm: 'Are you sure you want to delete？'}, method: :delete %>
      <% end %>
    </div>
  </div>

  <div class="user_show_post">
    <% @user.posts.each do |post|%>
      <div class="post_image">
        <%= link_to post_path(post.id) do %>
          <%= image_tag(post.image.url) if post.image && post.image.url %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
