<p id="notice"><%= notice %></p>

<% if logged_in? %>
  <% @posts.each do |post| %>

  <div class="container-fluid post-spacing">
    <div class="row">
      <div class="col-xs-6 col-xs-push-3 post">
        <div class="post">
          <div class="row post-head">
            <div class="col-xs-1 thumb-img">
              <%= image_tag post.user.icon.url(:thumb), class: 'img-responsive img-circle' %>
            </div>
            <div class="col-xs-10 name">
              <p>
                <%= link_to "#{post.user.name}", post.user %>
              </p>
            </div>
          </div>
          <a href=<%= "/posts/#{post.id}" %>>
            <div class="row post-img">
              <%= image_tag post.image.url(:large), class: 'img-responsive post-img' %>
            </div>
            <div class="row post-p">
              <%= post.post %>
            </div>
          </a>

          <div class="row post-tasks">
            <strong><%= post.favorites.count %></strong>
            <% if post.favorites.count == 1 %>
              <strong>favorite</strong>
            <% else %>
              <strong>favorites</strong>
            <% end %>
            <% if logged_in? %>
              <% if current_user.favorites.find_by(post_id: post.id).nil? %>
                | <%= link_to 'favorite post', favorites_path(post_id: @post.id), method: :post  %>
                <% else %>
                | <%= link_to 'unfavorite post', favorite_path(id: @favorite.id), method: :delete  %>
            <% end %>

            <% if logged_in? && post.user == current_user %>
              | <%= link_to 'Edit', edit_post_path(post) %>
              | <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

  <% end %>

<div class="row">
  <div class="col-xs-12 space">
  </div>
  <div class="col-xs-12 space">
  </div>
</div>
<% end %>
