<!DOCTYPE html>
<html>
  <head>
    <title>Instac</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
  </head>

  <body>
    <header class="header_container">

      <div class="logo">
        <%= link_to image_tag 'instagram.png', :size => '40x40', action: "root_path" %>
      </div>
        <% if logged_in? %>
        <nav>
          <ul>
            <li><%= link_to image_tag 'home.png', :size => '40x40', action: "user_path(current_user.id)" %></li>
            <li><%= link_to image_tag 'plus.png', :size => '40x40', action: "new_post_url" %></li>
            <li><%= link_to image_tag 'favorite.png', :size => '40x40', action: "icon_user_path(current_user.id)" %></li>
            <li><%= link_to image_tag 'logout.png', :size => '40x40', action: "session_path(current_user.id)", method: :delete %></li>
          </ul>
        </nav>
      <% end %>
    </header>
    <% flash.each do |key, value| %>
    <div class="alert alert-danger" role="alert">
      <%= content_tag(:div, value, class: "#{key}") %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
